<div class="row">
  <div class="col">
    <div class="card" [formGroup]="form">
      <div class="card-header">
        add2D 二维维数组+标量 [
          [
            [1,2,3],[1,2,3],[1,2,3]
          ],
          [
            [1,2,3],[1,2,3],[1,2,3]
          ],
          [
            [1,2,3],[1,2,3],[1,2,3]
          ]
        ]
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">三维唯数组</label>
          <div formArrayName="a">
            <div class="flex-col" *ngFor="let item1 of a.controls;index as i1;" [formGroupName]="i1">
              <div class="flex-row" *ngFor="let item2 of item1.controls;index as i2;" [formGroupName]="i2">
                <div *ngFor="let item3 of item2.controls;index as i3;" [formGroupName]="i3">
                  <input class="form-control" type="number" formControlName="num">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">缩放指标</label>
          <input class="form-control" type="number" formControlName="b">
        </div>
        <div class="form-group">
          <div class="alert alert-primary" role="alert">
            计算结果&nbsp;
            <span *ngFor="let i of res">
              {{i}} &nbsp;
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
